.DS_Store
thumbs.db
*.scssc
.sass-cache
.tmp/*
node_modules
bower_components
*/dependencies
/publish
/build
/test/assets/img/manu*
/test/dependencies
/test/vendor/*
*.komodoproject
.vscode
.sublime-project
.sublime-workspace
.vscode/
.serverless/
.env
.code-workspace